:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

.attribution { font-size: 11px; text-align: center; width: 100%; position:relative; bottom: -25px;}
.attribution a { color: hsl(228, 45%, 44%); }

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    background: var(--pale-blue);
    height: 100vh;
    width: 100%;
}

.container {
    text-align: center;
    border-radius: 10px;
    margin: 100px 35px;
    font-family: 'Red Hat Display', sans-serif;
    background: white;
    padding: 0;
}

.container__content {
    padding: 0 10px;
}

.container__picture {
    height: 175px;
    border-radius: 10px 10px 0 0;
}

.container__picture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.body__img-mobile{
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.body__img-desktop {
    display: none   ;
}

.container__content-title {
    margin: 30px 0;
    font-weight: 900;
    font-size: 1.5em;
    color: var(--dark-blue)
}

.container__content-paragraph {
    font-weight: 500;
    color: var(--desaturated-blue);
    margin: 10px 20px 25px 20px;
}

.container__content-plan-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--very-pale-blue);
    margin: 0 10px 15px 10px;
    border-radius: 5px;
    padding: 15px 10px;
}

.plan-name {
    font-weight: 700;
}

.plan-price {
    color: var(--desaturated-blue)
}

.plan-change {
    margin-left: 15px;
}

.plan-change a {
    font-weight: 700;
    color: var(--bright-blue)
}

.container__content-proceed {
    margin: 10px 9px;
    background: var(--bright-blue);
    border-radius: 10px;
    box-shadow: 0px 3px 15px var(--desaturated-blue);
}

.container__content-proceed a {
    padding: 15px 0;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: .9em;
}

.container__content-cancel {
    margin-top: 5px;
    padding: 20px 0 30px 0;
}

.container__content-cancel  a{
    text-decoration: none;
    color: var(--desaturated-blue);
    font-weight: 700;
}

@media (min-width: 768px) {
    .body__img-mobile {
        display: none;
    }

    .body__img-desktop {
        display: block;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .container {
        max-width: 400px;
        margin: 200px auto;
    }

}